<ion-view title="About" id="page9" style="background-color:#B0E036;" class=" ">
    <ion-content padding="true" style="background: url(img/Mm3n2kleSEOqJHwK6Zf6_5wLHPeoa.png) no-repeat center;background-size:cover;" class="has-header">
        <ion-list id="about-list7" class=" ">
            <ion-item class="item-thumbnail-left item-icon-right energized  " id="about-list-item9" ui-sref="tabsController.tentang">
                <img src="img/ANpzfpvRn8xRdMOWylIQ_logopoltekpos1.png">
                <h2energized>Profil
                    <i class="icon ion-android-arrow-dropright-circle"></i>
                </h2energized>
            </ion-item>
            <ion-item class="item-thumbnail-left item-icon-right energized  " id="about-list-item10" ui-sref="tabsController.galeryPoltekpos">
                <img src="img/uGRF1z5OTNOTqg7HnPh9_logopoltekpos1.png">
                <h2energized>Galery
                    <i class="icon ion-android-arrow-dropright-circle"></i>
                </h2energized>
            </ion-item>
            <ion-item class="item-thumbnail-left item-icon-right energized  " id="about-list-item12" ui-sref="tabsController.jurusan">
                <img src="img/5gtkA3ZDRtirtgcaFgaG_logopoltekpos1.png">
                <h2energized>Jurusan
                    <i class="icon ion-android-arrow-dropright-circle"></i>
                </h2energized>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right dark  " id="about-list-item14" ui-sref="tabsController.teamDeveloper">
                <i class="icon ion-iphone"></i>Developer
                <i class="icon ion-android-arrow-dropright-circle"></i>
            </ion-item>
        </ion-list>
        <a ui-sref="tabsController.home" id="about-button10" class=" button button-positive  button-block ">Back</a>
    </ion-content>
</ion-view>