<ion-view title="AKA" id="page16" style="background-color:#9E0BF1;" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="aKA-form11" class="list ">
            <label class="item item-input " id="aKA-textarea11">
                <span class="input-label">Akuntansi</span><textarea placeholder=""></textarea>
            </label>
        </form>
        <p id="aKA-markdown8" style="color:#F0F0F0;text-align:justify;" class=" ">Program studi ini dirancang dengan berdasarkan link and match dengan kebutuhan industri untuk tenaga ahli profesional dalam bidang akuntansi. Dalam rangka membekali lulusan memasuki dunia kerja, mahasiswa diberi kesempatan mengikuti uji kompetensi
            Brevet Pajak A dan B, Aplikasi Komputer dan Bahasa Inggris serta Work Shop Auditing, dan memperoleh sertifikat dari assosiasi atau lembaga yang berwenang. Kompetensi lulusan, dapat membuat laporan keuangan, menghitung pajak, membuat sistem
            akuntansi berbasis komputer, dan membantu melakukan audit laporan keuangan sesuai dengan standar pemeriksaan akuntan publik.</p>
        <a ui-sref="tabsController.jurusan" id="aKA-button16" class=" button button-positive  button-block ">Back</a>
    </ion-content>
</ion-view>