<ion-view title="Alamat" id="page23" style="background-color:#27F1E9;" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="item item-body " id="alamat-list-item-container6">
            <ion-list id="alamat-list9" class=" ">
                <ion-item class="item-icon-left positive  " id="alamat-list-item15">
                    <i class="icon ion-android-locate"></i>Alamat</ion-item>
            </ion-list>
            <p id="alamat-markdown15" style="margin-top:0px;color:#000000;" class=" ">Kampus Politeknik Pos Indonesia Jl. Sari Asih No. 54 Bandung 40151</p>
        </div>
        <a ui-sref="tabsController.tentang" id="alamat-button25" class=" button button-positive  button-block ">Back</a>
    </ion-content>
</ion-view>