<ion-view title="Contact" id="page24" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="contact-card23">
            <ion-item class="item-avatar  " id="contact-list-item16">
                <img src="img/wGc0TZfSTGmJB8HKcl8g_logopoltekpos1.png">
                <h2>Contact Poltekpos</h2>
            </ion-item>
            <div class=" item item-image">
                <img src="img/b9gFf3CQxuB1MTZdRzGl_login.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
        </div>
        <div class="item item-body " id="contact-list-item-container8">
            <p id="contact-markdown16" style="margin-top:0px;color:#000000;" class=" ">Telp. 022-2009562, 022-2009570 fax : 022-2009568 email : pmb@poltekpos.ac.id SMS : 0812-202-8854</p>
            <a ui-sref="tabsController.tentang" id="contact-button26" class=" button button-balanced  button-block ">Back</a>
        </div>
    </ion-content>
</ion-view>