<ion-view title="Galery Poltekpos" id="page13" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="galeryPoltekpos-card22">
            <ion-item class="item-icon-left  " id="galeryPoltekpos-list-item30">
                <i class="icon ion-android-home"></i>Galery</ion-item>
            <div class=" item item-image">
                <img src="img/xOu1m9RdKWXGXsz4Plrg_5wLHPeoa.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <ion-item class="item-icon-left calm  " id="galeryPoltekpos-list-item32" ui-sref="tabsController.about">
                <i class="icon ion-chevron-left"></i>Back</ion-item>
        </div>
    </ion-content>
</ion-view>