<ion-view title="Jurusan" id="page14" style="background-color:#E663E0;" class=" ">
    <ion-content padding="true" style="background: url(img/rnjB8lLaT6eaFMLmXrMn_5wLHPeoa.png) no-repeat center;background-size:cover;" class="has-header">
        <ion-list id="jurusan-list21" class=" ">
            <ion-item class="item-icon-right assertive  " id="jurusan-list-item33" ui-sref="tabsController.tI">Teknik Informatika
                <i class="icon ion-android-send"></i>
            </ion-item>
            <ion-item class="item-icon-right energized  " id="jurusan-list-item34" ui-sref="tabsController.logistikBisnis">Logistik Bisnis
                <i class="icon ion-android-send"></i>
            </ion-item>
            <ion-item class="item-icon-right balanced  " id="jurusan-list-item36" ui-sref="tabsController.mB">Management Bisnis
                <i class="icon ion-android-send"></i>
            </ion-item>
            <ion-item class="item-icon-right positive  " id="jurusan-list-item37" ui-sref="tabsController.sI">Sistem Informasi
                <i class="icon ion-android-send"></i>
            </ion-item>
            <ion-item class="item-icon-right royal  " id="jurusan-list-item38" ui-sref="tabsController.aKA">Akuntansi
                <i class="icon ion-android-send"></i>
            </ion-item>
        </ion-list>
        <a ui-sref="tabsController.about" id="jurusan-button12" style="color:#3667E6;" class=" button button-stable  button-block icon ion-ios-arrow-left ">Back</a>
    </ion-content>
</ion-view>