<ion-view title="Logistik Bisnis" id="page17" style="background-color:#F1950B;" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="logistikBisnis-form12" class="list ">
            <label class="item item-input " id="logistikBisnis-textarea12">
                <span class="input-label">Logistik Bisnis</span><textarea placeholder=""></textarea>
            </label>
        </form>
        <p id="logistikBisnis-markdown9" style="color:#F0F0F0;text-align:justify;" class=" ">Kurikulum Logistik Bisnis dirancang agar para lulusan mempunyai kompetensi untuk menangani pekerjaan dan permasalahan dalam bidang operasional logistik yang mencakup berbagai aspek seperti Ekspor-Impor, Kepabeanan, Distribusi, Transportasi, Warehousing,
            Cargo &amp; Shipping, Inventory, Purchasing (Procurement), Good Inspections, Logistic Information Service, Perpajakan, Resiko dan Asuransi.</p>
        <a ui-sref="tabsController.jurusan" id="logistikBisnis-button17" class=" button button-positive  button-block ">Back</a>
    </ion-content>
</ion-view>