<ion-view title="MB" id="page18" style="background-color:#0BF139;" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="mB-form13" class="list ">
            <label class="item item-input " id="mB-textarea13">
                <span class="input-label">Management Bisnis</span><textarea placeholder=""></textarea>
            </label>
        </form>
        <p id="mB-markdown10" style="color:#F0F0F0;text-align:justify;" class=" ">Program studi ini dirancang untuk membekali mahasiswa memasuki dan mengembangkan karier dibidang manajemen bisnis. Sebagai mitra penyedia tenaga profesional trampil bagi industri untuk tenaga marketing, kurikulum dalam program studi ini dirancang
            dengan melibatkan industri untuk membekali mahasiswa dengan skill dan kompetensi bidang pemasaran yang sesuai untuk kebutuhan industri sebagai pengguna utama lulusan, seperti kemampuan berkomunikasi, lobi dan negosiasi, teknik penyusunan dan
            presentasi proposal, perancangan iklan, riset pasar, salesmanship, dan aplikasi-aplikasi untuk Customer Relationship Management.</p>
        <a ui-sref="tabsController.jurusan" id="mB-button18" class=" button button-positive  button-block ">Back</a>
    </ion-content>
</ion-view>