<ion-view title="Pesan" id="page8" style="background-color:#78B3F3;" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="pesan-form6" class="list ">
            <label class="item item-input " id="pesan-input5">
                <input type="text" placeholder="Nama">
            </label>
            <label class="item item-input " id="pesan-input8">
                <input type="number" placeholder="NPM">
            </label>
            <label class="item item-input " id="pesan-input6">
                <input type="text" placeholder="Jurusan">
            </label>
            <label class="item item-input " id="pesan-input7">
                <input type="text" placeholder="Tulis Pesan">
            </label>
        </form>
        <button id="pesan-button4" style="font-weight:lighter;border-radius:2px 2px 2px 2px;" class=" button button-balanced  ">Hapus</button>
        <div class="spacer" style="width: 283px; height: 14px;"></div>
        <button id="pesan-button5" style="font-weight:lighter;" class=" button button-positive  ">Simpan</button>
        <div class="spacer" style="width: 283px; height: 14px;"></div>
        <a ui-sref="tabsController.home" id="pesan-button21" style="font-weight:lighter;" class=" button button-positive  ">Back</a>
    </ion-content>
</ion-view>