<ion-view title="Team Developer" id="page25" style="background-color:#5CEDFF;" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="teamDeveloper-list10" class=" ">
            <ion-item id="teamDeveloper-list-item19" class="  ">Developer Poltekpos Hybrid App</ion-item>
            <ion-item class="item-avatar positive  " id="teamDeveloper-list-item18">
                <h2positive>Andi Rahmat Hidayat</h2positive>
            </ion-item>
            <ion-item class="item-avatar positive  " id="teamDeveloper-list-item20">
                <h2positive>Anggi Sholihatus S</h2positive>
            </ion-item>
            <ion-item class="item-avatar positive  " id="teamDeveloper-list-item21">
                <h2positive>Diana Asri W</h2positive>
            </ion-item>
            <ion-item class="item-avatar positive  " id="teamDeveloper-list-item22">
                <h2positive>Herlin Restusari</h2positive>
            </ion-item>
            <ion-item class="item-avatar positive  " id="teamDeveloper-list-item23">
                <h2positive>M Firman Kahfi</h2positive>
            </ion-item>
            <ion-item class="item-avatar positive  " id="teamDeveloper-list-item24">
                <h2positive>Septian Firmansyah</h2positive>
            </ion-item>
        </ion-list>
        <a ui-sref="tabsController.about" id="teamDeveloper-button27" class=" button button-positive  button-block ">Back</a>
    </ion-content>
</ion-view>