<ion-view title="TI" id="page15" style="background-color:#F10B0B;" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="tI-form10" class="list ">
            <label class="item item-input " id="tI-textarea10">
                <span class="input-label">Teknik Informatika</span><textarea placeholder=""></textarea>
            </label>
        </form>
        <p id="tI-markdown7" style="color:#F0F0F0;text-align:justify;" class=" ">Program studi Teknik Informatika dirancang untuk memenuhi tuntutan aplikasi Teknologi Informasi di sektor Industri dan Bisnis. Selama Proses belajar mahasiswa dibekali dengan materi-materi yang mendukung penguasaan Teknologi Informasi seperti
            jaringan komputer wireless, rekayasa perangkat lunak, database, ˜multimedia, sistem keamanan informasi serta teknologi dan aplikasi WAP dan WEB.</p>
        <a ui-sref="tabsController.jurusan" id="tI-button15" class=" button button-positive  button-block ">Back</a>
    </ion-content>
</ion-view>